.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to bottom, #343a53, #551f1f);
}

.team-card {
  background-color: rgba(240, 240, 240, 0.08);
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 15px;
}

.team-card h2 {
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  line-height: 1;
}

.team-card p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.5px;
  line-height: 1;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #ffffff;
  line-height: 0.8;
}

.location {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.raleway-<uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
